<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>

</head>
<style>
    body{
        background: black;
    }
</style>
<body>


<nav class="navbar navbar-inverse">
    <th:block th:include="~{/fragments/nav}"></th:block>

</nav>

<br>
<br>

        <div style="width: 50%; display: block; margin-left: auto; margin-right: auto">

         <img class="center" src="/images/error404new.jpg" >
        </div>





<th:block th:include="~{/fragments/footer}"></th:block>

</body>
</html>