<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="stylesheet" href="/css/salecar.css">
</head>

<style>
    label {
        display: block;

    }

</style>



<body>
<nav class="navbar navbar-inverse">
    <th:block th:include="~{/fragments/nav}"></th:block>
</nav>
<div class="row" style="right: 0; position: absolute;top: 54.5px; margin-right: 0px">
    <div class="col">
        <img src="/images/sell.jpg">

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="col">
        <p>Thinking about selling your car? We want to buy it. Need to sell your car in the Sofia area? Rent&Sale Car is
            the place for no hassles and fast payment. Simply fill out our online form and we will contact you
            shortly. </p>
        <form class="form-inline" th:action="@{/sale/car}" method="POST"
              th:object="${carForSaleBindingModel}">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input th:field="*{brand}" type="text" class="form-control" id="brand" placeholder="Enter brand"
                       name="brand" s>
            </div>
            <div class="form-group">
                <label for="enginetype">Engine:</label>
                <input th:field="*{enginetype}" type="text" class="form-control" id="enginetype" placeholder="Engine"
                       name="enginetype">
            </div>
            <div class="form-group">
                <label for="horsePower">Horse power:</label>
                <input th:field="*{horsePower}" type="text" class="form-control" id="horsePower"
                       placeholder="Enter password" name="horsePower">
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input th:field="*{year}" type="text" class="form-control" id="year"
                       placeholder="Enter year of manifacture"
                       name="year">
            </div>
            <br>
            <div class="form-group">
                <label for="price">Price:</label>
                <input th:field="*{price}" type="text" class="form-control" id="price" placeholder="Enter price"
                       name="price">
            </div>
            <div class="form-group">
                <label for="mileage">Mileage:</label>
                <input th:field="*{mileage}" type="text" class="form-control" id="mileage" placeholder="Enter mileage"
                       name="mileage">
            </div>
            <div class="form-group">
                <label for="colour">Colour:</label>
                <input th:field="*{colour}" type="text" class="form-control" id="colour" placeholder="Enter colour"
                       name="colour">
            </div>
            <div class="form-group">
                <label for="colour">Image:</label>
                <input th:field="*{image}" type="text" class="form-control" id="image" placeholder="Enter image"
                       name="image">
            </div>
            <br>
            <div class="form-group">
                <label for="transmission">Transmission:</label>
                <input th:field="*{transmission}" type="text" class="form-control" id="transmission"
                       placeholder="Enter transmission"
                       name="transmission">
            </div>
            <div class="form-group">
                <label for="telephoneNumber">Telephone number:</label>
                <input th:field="*{telephoneNumber}" type="text" class="form-control" id="telephoneNumber"
                       placeholder="Enter telephone"
                       name="telephoneNumber">
            </div>

            <button type="submit" class="btn btn-default" style="color: white;background: green; width: 150px">Submit
            </button>
        </form>
    </div>
</div>


<br>
<br>


<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>